#container {
  width: 400px;
  background-color: rgb(55, 92, 79);
  padding: 20px;
  border-radius: 7px;
}

input {
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 7px;
  border: none;
  background-color: #ececec;
}

input:focus {
  outline: none;
}

form input {
  margin-bottom: 10px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list {
  margin: 12px 0;
}
.list li {
  background-color: rgba(127, 255, 212, 0.811);
  padding: 5px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
}

.btn {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

.btn button {
  padding: 5px 7px;
  border-radius: 4px;
  border: none;
  background-color: #ececec;
  cursor: pointer;
}

.btn button:hover {
  background-color: rgba(127, 255, 212, 0.563);
}

#container h1 {
  color: rgba(127, 255, 212, 0.811);
}

.p1 {
  color: #ececec;
  font-style: italic;
}
